NET "clk" LOC = P43; # GCLK0
NET "rst" LOC = P30; # GSR

# Data path (FB3)
NET "data<0>" LOC = P18;
NET "data<1>" LOC = P19;
NET "data<2>" LOC = P20;
NET "data<3>" LOC = P21;
NET "data<4>" LOC = P22;
NET "data<5>" LOC = P23;
NET "data<6>" LOC = P27;
NET "data<7>" LOC = P28;

NET "address<0>" LOC = P5;
NET "address<1>" LOC = P6;
NET "address<2>" LOC = P8;
NET "address<3>" LOC = P12;
NET "rgn<0>" LOC = P13;
NET "rgn<1>" LOC = P14;
NET "csel<0>" LOC = P16;
NET "csel<1>" LOC = P38;
NET "csel<2>" LOC = P37;
NET "csel<3>" LOC = P36;
NET "csel<4>" LOC = P34;
NET "csel<5>" LOC = P33;
NET "csel<6>" LOC = P32;
NET "csel<7>" LOC = P31;

NET "int<0>" LOC = P1;
NET "int<1>" LOC = P2;
NET "int<2>" LOC = P3;

NET "sclk" LOC = P44;
NET "si" LOC = P41;
NET "so" LOC = P42;

NET "oe" LOC = P39;
NET "we" LOC = P40;

